.assignment-container {
  border: 1px solid #ddd;
  padding: 10px;
}
label {
  display: block;
}
input {
  margin-bottom: 1.5em;
}
#submit {
  display: block;
  padding: .75em;
}
.column-1 {
  width: 40%;
  display: inline-block;
  float: left;

}
.column-2,
.column-3,
.column-4 {
  width: 20%;
  display: inline-block;
  float: left;
}
#grade-table {
  max-width: 640px;
}
.clearfix:after {
  display: table;
  clear: both;
  content: '';
}
