* {
  box-sizing: border-box;
}
.clearfix:after {
  display: table;
  clear: both;
  content: '';
}
.assignments-header {
  margin-bottom: 25px;
}
.assignment-container {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
  margin-bottom: 10px
}
#grade-table {
  max-width: 640px;
}
#grade-average {
  max-width: 640px;
  text-align:right;
}
label {
  display: block;
}
input {
  margin-bottom: 1.5em;
}
#submit {
  display: block;
  padding: .75em;
}
.column-1 {
  width: 40%;
  display: inline-block;
  float: left;

}
.column-2,
.column-3,
.column-4 {
  width: 20%;
  display: inline-block;
  float: left;
}
.points-possible,
.points-received,
.assignment-grade {
  text-align: right;
  padding: 0 5px;
}
